*{
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
    background-image: url(../assets/img/fundologin.png);
    color: black;
}

.first_column{
    width: 30%;
    height: 500px;
    background-color: white;
    box-shadow: 0px 1px 10px #b86cff9a;
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-top-right-radius: 0px;
}

.second_column{
    width: 20%;
    height: 500px;
    background: linear-gradient(to bottom, #F36EC0, #AF5FE4);
    box-shadow: 1px 1px 5px #333;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    color: white;  
    text-align: center;
}

.cadastro{
    width: 80%;
    margin: 50px;
}

.cadastro h2{
    margin: 60px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20%;
}

.entrar{
    padding: 10px;
    background-color: #F36EC0;
    border-radius: 30px;
    width: 90px;
    font-weight: 600;
    font-size: 16px;
    border: none;
}

.cadastrar{
    padding: 10px;
    background-color: #f36ec000;
    border-radius: 30px;
    width: 100px;
    font-weight: 600;
    font-size: 16px;
    border: white 2px solid;
}

.input {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 16px;
    outline: none;
    transition: 0.3s;
}

.input:focus {
    border-color: #AF5FE4;
    box-shadow: 0 0 5px #b86cff9a;
}