*{
    padding: 0;
    margin: 0;
}

/*------------------------------ FONTES DO PROJETO ------------------------------*/
@font-face {
    font-family: 'Quicksand-Bold';
    src: url(../assets/fontes/Quicksand-Bold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: 'Quicksand-Light';
    src: url(../assets/fontes/Quicksand-Light.ttf);
}

@font-face {
    font-family: 'Quicksand-Medium';
    src: url(../assets/fontes/Quicksand-Medium.ttf);
}

@font-face {
    font-family: 'Quicksand-Regular';
    src: url(../assets/fontes/Quicksand-Regular.ttf);
}

@font-face {
    font-family: 'Quicksand-SemiBold';
    src: url(../assets/fontes/Quicksand-SemiBold.ttf);
}
/*-------------------------------------------------------------------------------*/


/*------------------------------ CONTAINER GLOBAL ------------------------------*/
.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
    background-image: url(../assets/img/fundologin.png);
    color: black;
}

/*------------------------------ PRIMEIRA SESSÃO (CONTENT) - CADASTRO ------------------------------*/
.primeiro_content{
    display: flex;
    background-color: #fff;
    width: 870px;
    height: 540px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    box-shadow: 0px 0px 20px 5px #c1cdff5b;
    border-radius: 10px;
}

.primeiro_content::before{
    content: "";
    position: absolute;
    background: linear-gradient(to top,#f36ec0, #af5fe4);
    width: 340px;
    height: 100%;
    left: 0;
    border-radius: 10px 0 0 10px;
}

.primeiro_content /*.segunda_coluna*/ { 
    z-index: 11;
}

.primeira_coluna {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 340px;
    z-index: 10;
}

.logo_login{
    width: 150px;
}

.logo_login img{
    width: 100%;
    object-fit: contain;
}

.primeiro_titulo{
    width: 100%;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Quicksand-Bold';
    margin: 18px 0px;
}

.primeiro_meio{
    color: white;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Quicksand-Regular';
    width: 70%;
    margin: 0px 50px;
}

.botao_texto{
    width: 100%;
}

.primeira_descricao{
    color: white;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Quicksand-Regular';
    margin: 60px 0px 16px;
}

.botao_entrar{
    padding: 10px 30px;
    background-color: transparent;
    border: solid 3px white;
    border-radius: 30px;
    font-family: 'Quicksand-Bold';
    cursor: pointer;
    font-size: 1rem;
}

.botao_entrar:hover{
    background-color: white;
    color: #f36ec0;
}

/* Forms do primeiro content */
.segunda_coluna{
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 20px;
}

.segunda_coluna h2{
    color: #f36ec0;
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Quicksand-Bold';
}

.segunda_coluna form{
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    gap: 20px;
}

form label{
    width: 80%;
}

label input{
    width: 100%;
    padding: 15px;
    background-color: #ecf0f1;
    border: none;
    border-radius: 15px;
    font-family: 'Quicksand-Regular';
}

.cadastrese{
    padding: 10px 30px;
    background-color: #f36ec0;
    border-radius: 30px;
    font-size: 1rem;
    font-family: 'Quicksand-Bold';
    cursor: pointer;
    color: white;
    border: none;
}

.cadastrese:hover{
    background-color: transparent;
    border: solid 3px #f36ec0;
    color: #f36ec0;
    box-sizing: border-box;
}


.moveToLogin {
    transform: translateX(-50%);
    transition: transform 0.6s ease-in-out;
}